[Desktop Entry]
Name=CockHeroine
Comment=A tool for recording and editing beat patterns for cock hero videos
Exec=CockHeroine
Icon=WandIcon
Type=Application
Categories=Utility;
